# Archivos de entorno y secretos
.env
secret.key

# Directorio de entorno virtual de Python
venv/
__pycache__/

# Archivos del IDE (PyCharm, VSCode, etc.)
.idea/
.vscode/

# Archivos de compilación de Python
*.pyc
*.pyo
*.pyd

# Archivos de distribución
dist/
build/
*.egg-info/
